*{
    padding: 0;
}

header{
    height: 13vh;
}
body{
    height: 67vh;
}
footer{
    height:20vh;
    background-color: #c2185b;
    color: aliceblue;
}
.menu{
    display: flex;
    justify-content: space-between;
    border: lightgrey 1px solid;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 5px 5px 10px rgb(182, 182, 182);
    padding: 0 30px;
    align-items: center;
}

.img-menu{
    display: flex;
    align-content: center;
}

ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu-principal{
    display: flex;
    position: relative;
}

.column-01{
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px 10px;
    width: 50vw;
}

label{
    font-size: 22px;
}

label{
    font-size: 22px;
}

.column-02{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    align-items: center;
    width: 50vw;
    font-size: 22px;
    gap: 20px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.submit{
    display: flex;
    height: 2vh;
    width: 10vw;
    background-color: #c2185b;
    color: aliceblue;
    align-items: baseline;
}

.ftr-column{
    display: flex;
    border: 8px solid yellow;
    height: 10vh;
    justify-content: space-between;


}

.ftr-column-01, .ftr-column-02, .ftr-column-03{
display: flex;
border: 5px solid green;
height: 10vh;
flex-direction: column;

}

.tex-footer{
    display: flex;
    padding: 0 30px;
    height: 20vh;
    font-size: 17px;
    flex-direction: column;

}