*{
    padding: 0;
}

header{
    height: 10vh;
}
body{
    height: 57vh;
}
footer{
    height:20vh;
    background-color: #c2185b;
    color: aliceblue;
}

.promocao{
    background-color: #c2185b;
    color: white;
    display: flex;
    justify-content: center;
}

.banner{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: arial;

}
.menu{
    display: flex;
    justify-content: space-between;
    border: lightgrey 1px solid;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 5px 5px 10px rgb(182, 182, 182);
    padding: 0 20px;
    align-items: center;
}

.img-menu{
    display: flex;
    align-content: center;
}

.chat{
    width: 70px;
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    padding: 40px 40px;
}

.formulario{
    padding: 30px 40px;
}

ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu-principal{
    display: flex;
    position: relative;
}

.column-01{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    width: 50vw;
}

form{
    border: #c2185b 2px solid;
}


.titulo{
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label{
    font-size: 18px;
}

.column-02{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
    align-items: center;
    width: 50vw;
    font-size: 22px;
    gap: 20px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.submit{
    display: flex;
    height: 4vh;
    width: 30vw;
    background-color: #c2185b;
    color: aliceblue;
    justify-content: flex-start;
    align-items:center ;
    font-size: 17px;
    padding: 15px;
}

.reset{
    display: flex;
    height: 4px;
    width: 20px;
    background-color: rgb(230, 141, 7);
}

.ftr-column{
    display: flex;
    border: 8px solid yellow;
    height: 10vh;
    justify-content: space-between;


}

.ftr-column-01, .ftr-column-02, .ftr-column-03{
display: flex;
border: 5px solid green;
height: 10vh;
flex-direction: column;

}

.tex-footer{
    display: flex;
    padding: 0 30px;
    height: 20vh;
    font-size: 17px;
    flex-direction: column;

}